@using WordCounter.Models;


<h1>Word Counter Game</h1>

@if (RepeatCounter.GetResult() == 0)
{
  <h3>Your Word: @RepeatCounter.GetUserWord()</h3>
  <h3>Your Sentence: @RepeatCounter.GetUserSentence()</h3>
  <h4>Your word does not appear in your sentence</h4>
}

@if (RepeatCounter.GetResult() != 0)
{
  <h3>Your Word: @RepeatCounter.GetUserWord()</h3>
  <h3>Your Sentence: @RepeatCounter.GetUserSentence()</h3>
  <h4>Your word appears @RepeatCounter.GetResult() time(s) in your sentence.</h4>
}

<h2><a href="/wordcounter/new">Try another sentence and/or keyword</a></h2>
